/* hide Dash's undo-redo floating buttons */
._dash-undo-redo {
  display: none;
}


h4 {
    color: grey;
}

/* DROPDOWN
 * -------
   usage:
     <div class="dropdown">
      <button class="dropbtn">Dropdown</button>
      <div class="dropdown-content">
        <a href="/link1">Link 1</a>
        <a href="/link2">Link 2</a>
        <a href="/link3">Link 3</a>
      </div>
    </div>
 */

.dropbtn {
    padding: 16px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

/* Dropdown Content (Hidden by Default) 
 * default is to display dropdown-content with right-side aligned.
 * include style={'left': 0} in Dash on html.Div to change that.
 * */
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* The active droplink is bold */
.dropdown-content a.active {
    /* font-style: italic; */
    font-weight: bold;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: aliceblue; /* #3e8e41; */
}

/* Button Styles */
.btn-awesome {
    border: 0px solid #bbb;
    padding-left: 0px;
    padding-right: 3px;
}


/* No_op links:
 * Source = ROOT/docs/categor../test.md
 * Dest = ROOT/.mantra/<unique>/q01.json ...
 * no_op is where Source is not yet compiled to Dest
 * in the tests_table
 *  -> test link is disabled,
 *  -> action button should be compile
 */
a.no_op, a.no_op:hover {
    pointer-events: none;
    color: #e1e1e1;
}
